.container{
    display: flex;
    flex-direction: row;
}
.inside-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: auto;
    margin: auto;
}