*{
    font-family: "Roboto",sans-serif;
}
.box{
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.1);
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.box h1{
    font-size: 25px;
}

.box:hover{
    transform: scale(1.3);
    z-index: 2;
}
.box p span{
    font-weight: bold;
}